.social-links a {
    position: relative;
    display: block;
    float: left;
    width: 16.66%;
    padding: .5em 0 0 0;
    
    font-size: 1.5em;
    line-height: 3.5em;
    text-decoration: none;
    
    -webkit-transition: width .5s;
}
    
.social-links:hover a {
    width: 10%;
    -webkit-transition: width .25s;
}
    
.social-links a:hover {
    width: 50%;
}

.social-links a .icon {
    display: block;
    position: absolute;
    
    top: 0;
    width: 100%;
    
    color: #4d363d;
    
    -webkit-backface-visibility: visible;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: perspective(500px) rotateY(0deg);
    -webkit-transition: color 1s, font-size .5s, -webkit-transform .5s, text-shadow 1s;
}

.social-links a:hover .icon {
    color: #fff;
    text-shadow: 0 0 .1em #b2ffd2;
    font-size: 2.5em;
    
    -webkit-transition: color 1s, font-size .25s, -webkit-transform .5s, text-shadow 1s;
    
    transform: perspective(500px) rotateY(180deg);
    -webkit-transform: perspective(500px) rotateY(180deg);
    -moz-transform: perspective(500px) rotateY(180deg);
    -o-transform: perspective(500px) rotateY(180deg);
    -ms-transform: perspective(500px) rotateY(180deg);
}

.social-links a .label {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: .2em .5em;
    
    font-size: .1em;
    color:  #1b101f;
    line-height: 1em;
    font-weight: bold;
    box-shadow: 0 0 .5em #b2ffd2;
    
    opacity: 1;
    background: #b2ffd2;
    border-radius: .2em;

    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: perspective(500px) rotateY(180deg);
    -webkit-transition: -webkit-transform .5s, font-size .5s, line-height .5s;
}

.social-links a:hover .label {
    font-size: .5em;
    line-height: 1em;
    
    -webkit-transition: -webkit-transform .5s, font-size .25s, line-height .25s;
    -webkit-transform: perspective(500px) rotateY(360deg);
}