::selection,
::-moz-selection,
::-webkit-selection,
::-o-selection,
::-ms-selection {
    background: #00ff6a;
}

a {
    color: #008075;
}

a:hover {
    text-decoration: none;
}

a:active {
    color: #ff0051;
}

a:visited {
    color: #800028;
}

h1, h2, h3, h4 {
    font-family: 'Libre Baskerville', serif;
}

body {
    font-family: 'open sans', sans-serif;
    color: #1f1518;
    line-height: 1.681em;
}

header {
    text-align: center;
    color: #4d363d;
}

.name {
    font-family: 'open sans', sans-serif;
    line-height: 1em;
    letter-spacing: .6em;
    font-weight: normal;
    text-transform: uppercase;
    text-shadow: 0 0 .25em #00ff6a;
    color: #fff;
}

.headline {
    font-size: 3.14em;
    line-height: 1em;
}

    
article p:first-of-type  {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.1681em;
    font-style: italic;
}

/*article table,
article pre {
    font-size: .761em;
    line-height: 1.618em;
}

article pre {
    font-family: 'PT Mono';
    white-space: pre-wrap;
}*/

